//text colors
$primary-text-color: #e2e2e2;
$secondary-text-color: #373737;
$tertiary-text-color: #bb86fc;

//background colors
$primary-bg-color: #121212;
$secondary-bg-color: #373737;
$tertiary-bg-color: #bb86fc;

//common colors
$black: #000000;
$lightgray: #fafafa;
$grey: #a4a4a4;
$white: #ffffff;
$contact-form-white-bg: #f4f4f4;
