@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes color {
  0% {
    border: 6px solid $black;
    transform: scale(0.5);
  }
  50% {
    border: 6px solid $secondary-bg-color;
    transform: scale(1.5);
    z-index: 1;
  }
  100% {
    border: 6px solid $black;
    transform: scale(0.5);
  }
}

@keyframes wordOne {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wordTwo {
  0% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
