@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  0% {
    transform: rotate(-360deg);
  }
  5%,
  10% {
    transform: rotate(-321deg);
  }
  15%,
  20% {
    transform: rotate(-287deg);
  }
  25%,
  30% {
    transform: rotate(-258deg);
  }
  35%,
  40% {
    transform: rotate(-219deg);
  }
  45%,
  50% {
    transform: rotate(-180deg);
  }
  55%,
  60% {
    transform: rotate(-141deg);
  }
  65%,
  70% {
    transform: rotate(-109deg);
  }
  75%,
  80% {
    transform: rotate(-75deg);
  }
  85%,
  90% {
    transform: rotate(-39deg);
  }
  95%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes color {
  0% {
    border: 6px solid $black;
    transform: scale(0.5);
  }
  50% {
    border: 6px solid $secondary-bg-color;
    transform: scale(1.5);
    z-index: 1;
  }
  100% {
    border: 6px solid $black;
    transform: scale(0.5);
  }
}

@keyframes wordOne {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wordTwo {
  0% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

h1 {
  // color: #333;
  // font-family: tahoma;
  // font-size: 3rem;
  // font-weight: 100;
  // line-height: 1.5;
  // text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

.message {
  background-color: #121212;
  color: #333;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 200px;
  // font-size: 13px;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@keyframes rotateSkills {
  0% {
    transform: rotate(0deg);
  }
  5%,
  10% {
    transform: rotate(-39deg);
  }
  15%,
  20% {
    transform: rotate(-75deg);
  }
  25%,
  30% {
    transform: rotate(-109deg);
  }
  35%,
  40% {
    transform: rotate(-141deg);
  }
  45%,
  50% {
    transform: rotate(-175deg);
  }
  55%,
  60% {
    transform: rotate(-219deg);
  }
  65%,
  70% {
    transform: rotate(-258deg);
  }
  75%,
  80% {
    transform: rotate(-287deg);
  }
  85%,
  90% {
    transform: rotate(-321deg);
  }
  95%,
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateSkillsText {
  0% {
    transform: rotate(0deg);
  }
  5%,
  10% {
    transform: rotate(-39deg);
  }
  15%,
  20% {
    transform: rotate(-75deg);
  }
  25%,
  30% {
    transform: rotate(-109deg);
  }
  35%,
  40% {
    transform: rotate(-141deg);
  }
  45%,
  50% {
    transform: rotate(-180deg);
  }
  55%,
  60% {
    transform: rotate(-219deg);
  }
  65%,
  70% {
    transform: rotate(-258deg);
  }
  75%,
  80% {
    transform: rotate(-287deg);
  }
  85%,
  90% {
    transform: rotate(-321deg);
  }
  95%,
  100% {
    transform: rotate(-360deg);
  }
}

// @keyframes move {
//   0% {
//     offset-distance: 0%;
//   }
//   100% {
//     offset-distance: 100%;
//   }
// }

@keyframes move {
  100% {
    motion-offset: 100%; /* Old */
    offset-distance: 100%; /* New */
  }
}

@keyframes st1 {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes st2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hello {
  0% {
    // transform: rotate(0deg);
    bottom: 0px;
  }
  5%,
  10% {
    // transform: rotate(-39deg);
    bottom: -71px;
  }
  15%,
  20% {
    // transform: rotate(-75deg);
    bottom: -143px;
  }
  25%,
  30% {
    // transform: rotate(-109deg);
    bottom: -215px;
  }
  35%,
  40% {
    // transform: rotate(-141deg);
    bottom: -288px;
  }
  45%,
  50% {
    // transform: rotate(-180deg);
    bottom: -361px;
  }
  55%,
  60% {
    // transform: rotate(-219deg);
    bottom: -434px;
  }
  65%,
  70% {
    // transform: rotate(-258deg);
    bottom: -507px;
  }
  75%,
  80% {
    // transform: rotate(-287deg);
    bottom: -577px;
  }
  85%,
  90% {
    // transform: rotate(-321deg);
    bottom: -650px;
  }
  95%,
  100% {
    // transform: rotate(-360deg);
    bottom: -724px;
  }
}

@keyframes changeColor {
  0% {
    background-color: rgba(196, 196, 196, 0.2);
    height: 0px;
  }
  100% {
    background-color: red;
    height: -190px;
  }
}
