$primary-heading-text: 52px;
$primary-sub-heading-text: 34px;
$primary-heading-font-weight: 700;
$primary-sub-heading-font-weight: 300;

$primary-content-text: 13px;
$primary-content-font-weight: 300;

$text-uppercase: uppercase;
$text-inherit: inherit;
