$primary-heading-text: 52px;
$primary-sub-heading-text: 34px;
$secondary-sub-heading-text: 18px;

$primary-heading-font-weight: 700;
$primary-sub-heading-font-weight: 300;
$secondary-heading-font-weight: 400;
$primary-content-font-weight: 300;

$primary-font-weight: 700;
$secondary-font-weight: 400;
$tertiary-font-weight: 300;

$primary-content-text: 14px;
$secondary-content-text: 13px;
$large-text: 10vw;

$text-uppercase: uppercase;
$text-inherit: inherit;
