.about-content {
  display: block;
  width: 450px;
  padding-top: 50px;
}

.video-container {
  height: 550px;
}
.video-container .about-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-rhs {
  position: relative;
}
.techskills {
  background: yellowgreen;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.skill-links {
  background: transparent;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

  & a {
    margin-right: 20px;
  }
}
