.carousel {
  background: #eee;
}

.carousel-cell {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  background: transparent;
  border-radius: 0px;
  counter-increment: carousel-cell;
  position: relative;
  overflow: hidden;
}
.slider-image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-image {
  height: 283px !important;
}

.carousel-pagination {
  position: absolute;
  top: 20px;
  left: 20px;
}
.flickity-button {
  background: transparent !important;
  color: black !important;
}

.flickity-button-icon {
  fill: transparent black !important;
  width: 33% !important;
}
.flickity-page-dots {
  overflow: hidden;
  //   border: 2px solid blue;
  width: 100px !important;
  right: 0px;
  bottom: 20px !important;
  //   transform: rotate(90deg);
  //   right: -65px !important;
}

.flickity-page-dots .dot {
  //   border-radius: 0 !important;
  //   width: 5px !important;
  background: $tertiary-bg-color !important;
}
.flickity-prev-next-button {
  border-radius: 0px !important;
  top: 95% !important;
  transform: translateY(-95%);
}
.flickity-prev-next-button.next {
  left: 55px !important;
}

.profile-title {
  color: $secondary-text-color;
  font-size: 13px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: -40px;
}
.fullname {
  font-size: 72px;
  color: $primary-text-color;
  position: relative;
}

// .fullname::after {
//   content: "";
//   width: 200px;
//   border-top: 0.5px solid $primary-text-color;
//   position: absolute;
//   left: 40px;
//   animation: underline 0.5s forwards;
// }

.wt-two,
.wt-three,
.wt-four,
.wt-five,
.wt-six,
.wt-seven,
.wt-eight,
.wt-nine,
.wt-ten {
  display: none;
}

.wt-one {
  // background-color: yellow;
  // color: #000 !important;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 9.1px;
  left: 12px;
  text-align: center;
  // animation: openclose 5s ease-in-out infinite;
  padding: 0px;
}

.wt-two {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: none;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
